    
    <main class="container mt-3">
        <h1>Lista de Diáristas</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                {{#each diaristas}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>
                            <a href="/diaristas/show/{{this.id}}">
                                {{this.nome}}
                            </a>
                        </td>
                        <td>{{this.idade}}</td>
                        <td>{{this.endereco}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </main>