    
    <main class="container mt-3">
        <h1>Lista de Diáristas</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each diaristas}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>
                            <a href="/diaristas/show/{{this.id}}">
                                {{this.nome}}
                            </a>
                        </td>
                        <td>{{this.idade}}</td>
                        <td>{{this.endereco}}</td>
                        <td class="d-flex gap-2">
                            <a href="/diaristas/{{this.id}}/edit" class="btn btn-outline-warning">Edit  </a>
                            <form action="/diaristas/{{this.id}}?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Quer apagar ?')">Del</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </main>